﻿<div class="modal fade" id='@ViewData["popupId"]' tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Destroy", (string)ViewData["controller"], new { id = (int)ViewData["itemId"] }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("_method", "delete")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm deletion</h4>
                </div>
                <div class="modal-body">
                    Are you sure to delete @ViewData["type"] <strong>@ViewData["itemName"]</strong>?
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

