﻿@using AppContext = Warehouse.Libraries.AppContext
<!DOCTYPE html>
<html ng-app="defaultApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <title>@ViewBag.Title - Warehouse</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/ClientStyle")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("General Documents", "Index", "Document", new { area = "DocStore", pathPrefix = "", documentTypeId = "General" }, null)</li>
                    <li>@Html.ActionLink("Client Documents", "Index", "Document", new { area = "DocStore", pathPrefix = "", documentTypeId = "Client" }, null)</li>
                    <li>@Html.ActionLink("Tasks", "Index", "Tasks", new {area = "Compliance", pathPrefix = ""}, null)</li>
                    @*<li>@Html.ActionLink("Advice Lines", "Index", "AdviceLines", new { area = "AdviceLine", pathPrefix = "" }, null)</li>*@
                    @if (new AppContext().IsCurrentUserAdmin)
                    {
                        <li>@Html.ActionLink("Settings", "Show", "Setting", new { area = "Setting", pathPrefix = "" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Warehouse</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/applications")
    @RenderSection("scripts", required: false)
</body>
</html>
