﻿@model PagedList.IPagedList<Warehouse.Areas.DocStore.Models.Document>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (!ViewBag.HiddenControls.Contains("CreateDocument"))
    {
        @Html.ActionLink("Create New Document", "New", "Document", new { @class = "btn btn-primary" })
    }
</div>
<div style="margin-top: 10px; margin-bottom: 10px;">
    @using (Html.BeginForm("Index", "Document", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-10">
                @Html.Editor("fileinfo", (string)@ViewBag.CurrentFilters["fileinfo"], new
           {
               htmlAttributes =
               new { @class = "form-control", @placeholder = "Search file", @style = "max-width: 100%;" }
           })
            </div>
            <div class="col-lg-2 text-right">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                @Html.ActionLink("Clear", "Index", "Document", new { area = "DocStore", pathPrefix = "" }, new { @class = "btn btn-default" })
            </div>
        </div>
        <div class="row">
            @*<div class="col-lg-3" style="margin-bottom: 10px;">
                    @Html.DropDownList("filetype", (SelectList)ViewBag.AvailableFiletypes, "All filetypes", new { @class = "form-control", @data_auto_post_form = "true" })
                </div>*@
            <div class="col-lg-3" style="margin-bottom: 10px;">
                @Html.DropDownList("category", (SelectList)ViewBag.AvailableCategories, "All categories", new
           {
               @class = "form-control",
               @data_widget_type = "WidgetCategorySelector",
               @data_subcategory_element_id = "subcategory",
               @data_all_subcategories_element_id = "allSubcategories",
               @data_auto_post_form = "true"
           })
            </div>
            <div class="col-lg-3" style="margin-bottom: 10px;">
                @Html.DropDownList("subcategory", Enumerable.Empty<SelectListItem>(), "All subcategories", new
           {
               @class = "form-control",
               @data_element_id = "subcategory",
               @data_auto_post_form = "true",
               @data_pre_selected = @ViewBag.CurrentFilters["subcategory"]
           })
            </div>
            @if (!ViewBag.HiddenControls.Contains("PublishedStatus"))
            {
                <div class="col-lg-3" style="margin-bottom: 10px;">
                    @Html.DropDownList("published", (SelectList)ViewBag.PublishedStatuses, "All statuses", new { @class = "form-control", @data_auto_post_form = "true" })
                </div>
            }
            @if (!ViewBag.HiddenControls.Contains("SearchClient"))
            {
                <div class="col-lg-3" style="margin-bottom: 10px;">
                    @Html.DropDownList("client", (SelectList)ViewBag.AvailableClients, "All Clients", new { @class = "form-control", @data_auto_post_form = "true" })
                </div>
            }
            @if (!ViewBag.HiddenControls.Contains("SearchBranch"))
            {
                <div class="col-lg-3" style="margin-bottom: 10px;">
                    @if (!((SelectList)ViewBag.AvailableBranches).Any())
                    {
                        @Html.DropDownList("branch", (SelectList)ViewBag.AvailableBranches, "All Branches", new
                   {
                       @class = "form-control",
                       @data_auto_post_form = "true",
                       @disabled = "true"
                   })
                    }
                    else
                    {
                        @Html.DropDownList("branch", (SelectList)ViewBag.AvailableBranches, "All Branches", new { @class = "form-control", @data_auto_post_form = "true" })
                    }
                </div>
            }
        </div>
    }

    <select class="hidden" data-element-id="allSubcategories">
        @foreach (var subcategory in ViewBag.AvailableSubcategories)
        {
            <option value="@subcategory.Id" data-parent-category="@subcategory.CategoryId">
                @subcategory.Name
            </option>
        }
    </select>
</div>

<table class="table documents-listing">
    <tr>
        @{var dummy = Model.FirstOrDefault(); }
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Subcategory")
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Notes)
        </th>
        <th>
            @Html.DisplayName("Updated")
        </th>
        @if (!ViewBag.HiddenControls.Contains("PublishedStatus"))
        {
            <th>
                @Html.DisplayNameFor(model => dummy.Published)
            </th>
        }
        @if (!ViewBag.HiddenControls.Contains("EditDocument"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory.Name)
            </td>
            <td>
                @Html.ActionLink(item.Title, "Show", "Attachment", routeValues: new { area = "Attachment", pathPrefix = "", id = item.AttachmentId }, htmlAttributes: null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            @if (!ViewBag.HiddenControls.Contains("PublishedStatus"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
            }
            @if (!ViewBag.HiddenControls.Contains("EditDocument"))
            {
                <td>
                    @{ var publishText = item.Published ? "Unpublish" : "Publish"; }
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                        <button class="btn btn-@(item.Published ? "info" : "warning")"
                                data-toggle="modal" data-target="#publish_confirm_@(item.Id)">
                            @publishText
                        </button>
                        <button class="btn btn-danger"
                                data-toggle="modal" data-target="#delete_alert_@(item.Id)">
                            Delete
                        </button>
                    </div>
                    <div class="modal fade" id="publish_confirm_@(item.Id)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("Update", "Document", new { id = item.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("_method", "put")
                                    @Html.Hidden("published", !item.Published)
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Confirm @publishText</h4>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to @(publishText.ToLower()) document <strong>@(item.Title)</strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="@publishText" class="btn btn-@(item.Published ? "info" : "warning")" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/_DeleteConfirmation.cshtml", new ViewDataDictionary
                {
                    { "popupId", $"delete_alert_{item.Id}" },
                    { "itemId", item.Id },
                    { "itemName", item.Title },
                    { "controller", "Document" },
                    { "type", "document" }
                })
                </td>
                        }
        </tr>
                        }
</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    fileinfo = @ViewBag.CurrentFilters["fileinfo"],
    filetype = @ViewBag.CurrentFilters["filetype"],
    published = @ViewBag.CurrentFilters["published"],
    category = @ViewBag.CurrentFilters["category"],
    subcategory = @ViewBag.CurrentFilters["subcategory"],
    client = @ViewBag.CurrentFilters["client"],
    branch = @ViewBag.CurrentFilters["branch"]
}))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DocStore")
}
