﻿
@{
    ViewBag.Title = "Settings";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Create new user", "Register", "Account", new { area = "" }, null)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Clients</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Clients", "Index", "Clients", new {area = "Setting"}, null)
        @Html.ActionLink("Create new client", "New", "Clients", new {area = "Setting"}, null)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Doc Store</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Categories", "Index", "Categories", new { area = "Setting" }, null)
    </div>
</div>